<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bhb27.isu">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/round_ic_launcher"
        android:label="@string/app_name"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:supportsRtl="true"
        android:logo="@mipmap/ic_launcher">

        <activity
            android:name=".Start"
            android:label="@string/app_name"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Main"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".AboutActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Profile Widget -->
        <receiver android:name=".widgetservice.Widgeth"  android:label="@string/horizontal">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgeth" />
        </receiver>

        <receiver android:name=".widgetservice.Widgetv"  android:label="@string/vertical">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetv" />
        </receiver>

        <receiver android:name=".widgetservice.Widgetsu"  android:label="SU">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widgetsu" />
        </receiver>

        <service
            android:name=".perapp.PerAppMonitor"
            android:label="@string/service_per_app"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>

        <receiver android:name=".services.BootBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name=".notification.NotificationReceiver" android:exported="false" android:process=":background" >
            <intent-filter>
                <action android:name="YES_ACTION"/>
                <action android:name="DISSMISS_ACTION"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".tasker.TaskerReceiver" android:exported="true" android:process=":background" >
            <intent-filter>
                <action android:name="isu.su.on"/>
                <action android:name="isu.su.off"/>
                <action android:name="isu.su.inverse"/>
                <action android:name="isu.selinux.on"/>
                <action android:name="isu.selinux.off"/>
                <action android:name="isu.selinux.inverse"/>
                <action android:name="isu.debug.on"/>
                <action android:name="isu.debug.off"/>
                <action android:name="isu.debug.inverse"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".tileservice.QuickTileiSu"
            android:label="@string/app_name"
            android:icon="@drawable/ic_notification"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
       </service>

        <service
            android:name=".tileservice.QuickTileSU"
            android:label="@string/per_app_active"
            android:icon="@drawable/su"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
       </service>

       <service android:enabled="true" android:process=":background" android:name=".services.BootService" />
       <service android:enabled="true" android:process=":background" android:name=".services.MainService" />
       <service android:enabled="true" android:process=":background" android:name=".services.SuService" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>
</manifest>
